<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ProvaDBConnectionString" connectionString="Data Source=PC2225\SQLTOM;Initial Catalog=ProvaDB;User ID=tommaso" providerName="System.Data.SqlClient" />
        <add name="ProvaDBConnectionString2" connectionString="Data Source=PC2225\SQLTOM;Initial Catalog=ProvaDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
   

  <runtime>
   

         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   

                <dependentAssembly>
   

                       <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   

                       <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
   

                </dependentAssembly>
   

                <dependentAssembly>
   

                       <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   

                       <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
   

                </dependentAssembly>
   

         </assemblyBinding>
   

  </runtime>

</configuration>
